.facilities {
	position: relative;
	z-index: 1;
	text-align: center;
	&__description {
		@include font("Montserrat", 400, vw(25), vw(30));
		color: $color-blue;
		margin: vw(35) 0 vw(80);
	}
	&__item {
		position: relative;
		margin-bottom: vw(180);
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__info {
		@include font("Montserrat", 700, vw(48), vw(59));
		position: absolute;
		left: 50%;
		bottom: 0;
		transform: translateX(-50%);
		background-color: $color-white;
		width: vw(685);
		padding-top: vw(15);
		color: $color-blue;
	}
}

@media screen and (max-width: 576px) {
	.facilities {
	  text-align: center;
	  &__description {
		@include font("Montserrat", 400, vmin(13), vmin(15));
		margin: vmin(35) 0 vmin(80);
	  }
	  &__item {
		margin-bottom: vmin(90);
		&:last-child {
		  margin-bottom: 0;
		}
	  }
	  &__info {
		@include font("Montserrat", 700, vmin(24), vmin(30));
		left: 50%;
		bottom: 0;
		transform: translateX(-50%);
		background-color: $color-white;
		width: vmin(342);
		padding-top: vmin(7);
		color: $color-blue;
	  }
	}
  }
