.hero {
    position: relative;
    z-index: 1;
    min-height: 100vh;
    background: url("../images/herobg.png") no-repeat center;
    background-size: cover;
    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }
    &.facilities {
        position: relative;
        z-index: 1;
        text-align: left;
        background: url("../images/herobg-facilities.png") no-repeat center;
        background-size: cover;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
        }
    }
    &__content {
        padding-top: 28vh;
        color: $color-white;
    }
    &__suptitle {
        @include font("Montserrat", 400, vw(50), vw(61));
    }
    &__title {
        @include font("Adobe Garamond Pro", 700, vw(154), vw(185));
        letter-spacing: 0.07em;
    }
    &__subtitle {
        @include font("Adobe Garamond Pro", 700, vw(60), vw(72));
        letter-spacing: 0.4em;
    }
    &__description {
        @include font("Montserrat", 400, vw(25), vw(30));
        letter-spacing: 0.1em;
        max-width: vw(600);
    }
    &__link {
        @include font("Montserrat", 700, vw(25), vw(30));
        display: block;
        margin: 8vh auto 0;
        color: $color-white;
        background: $color-orange;
        border-radius: vw(15);
        padding: vw(20) vw(30);
        max-width: vw(268);
        text-align: center;
        svg {
            width: vw(28);
            height: vw(25);
        }
    }
    &__scroll {
        @include font("Montserrat", 700, vw(25), vw(30));
        position: absolute;
        bottom: 2vh;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        letter-spacing: 0.05em;
        color: $color-white;
        svg {
            margin-top: vw(15);
            width: vw(60);
            height: vw(60);
        }
    }
}

@media screen and (max-width: 576px) {
    .hero {
        &__suptitle {
            @include font("Montserrat", 400, vmin(25), 1);
        }
        &__title {
            @include font("Adobe Garamond Pro", 700, vmin(70), 1);
        }
        &__subtitle {
            @include font("Adobe Garamond Pro", 700, vmin(30), 1);
        }
        &__description {
            @include font("Montserrat", 400, vmin(14), 1);
            max-width: vmin(300);
        }
        &__link {
            @include font("Montserrat", 700, vmin(15), 1);
            margin: 5vh auto 0;
            border-radius: vmin(10);
            padding: vmin(10) vmin(15);
            max-width: vmin(130);
            svg {
                width: vmin(14);
                height: vmin(12);
            }
        }
        &__scroll {
            @include font("Montserrat", 700, vmin(16), 1);
            bottom: 5vh;
            svg {
                margin-top: vmin(10);
                width: vmin(30);
                height: vmin(30);
            }
        }
    }
}
